<!DOCTYPE html>
<html>
<head>
	<%- include("../../partials/header.ejs") %> 
	<title> Carrito - Nasgar Network </title>
	
	<link rel="stylesheet/less" href="/less/pags/shop/cart.less" />
	
	<%- include("../../partials/less.ejs") %> 
	
	<script src="https://unpkg.com/js-search@1.3.7/dist/umd/js-search.min.js" defer></script>
	<script src="/js/pg/shop/cart.js" defer></script>

	<script>
		window.products = JSON.parse(`<%- JSON.stringify(products) %>`);
	</script>
</head>
<body>
	<%- include("../../partials/nav.ejs", { userData, nav }) %> 
	<div class="header-separator"></div>

	<div class="app">
		<ul class="products">
			<% products.forEach((product, i) => { %>
				<li class="product loading product-<%= i %> product-<%- product.uuid %> ">
					<div class="icon product-icon"></div>
					<div class="info">
						<div class="name product-name"></div>
						<div class="bottom">
							<div class="quantity">
								<button class="remove remove-quantity">-</button>
								<input class="quantity-input" type="number" value="<%- product.quantity %>" placeholder="Quantity">
								<button class="add add-quantity">+</button>
							</div>
							<div class="total product-total"></div>
						</div>
						<div class="remove">
							<i class="material">delete_outline</i>
						</div>
					</div>
					<div class="actions">
						<div class="gift<%- (product.gift ? " gifted" : "") %>">
							<i class="material">card_giftcard</i>
							<input type="text" value="<%- (product.gift || "") %>" placeholder="Username">
						</div>
					</div>
				</li>
			<% }); %>
		</ul>
		<footer>
			<div class="cupon">
				<i class="material">confirmation_number</i>
				<input placeholder="Cupon">
				<button class="redeem-btn">Canjear</button>
			</div>
			<div class="info">
				<span class="text">Total</span>
				<span class="total total-count">3</span>
			</div>
			<button data-commons-onclick="link, /shop/pay">Continuar compra</button>
		</footer>
	</div>
</body>
</html>