<% 

function categoryDisplay(category, name) {
  name = name || category.name;
  return category.display.replace(/\{\{NAME\}\}/g, name);
}

%> 

<%- include("../../partials/head.ejs", {global, title: global.lang.menu.shop.title, url: "/shop/index"}) %>
<!-- </head> -->
<body>
	<%- include("../../partials/nav_modern.ejs", { global, tab: "shop", solid: true, transparent_height: 3 }) %>
	
	<div class="body centered">
		<aside>
      <div class="cart">
        <a href="/shop/cart" class="btn primary cart-btn">
          <i class="material">shopping_cart</i>
        </a>
      </div>
			<div class="categories">
				<% for(const category of categories) { %>
					<% if (category.subcategories?.length > 0) { %>
						<div class="category">
              <a href="/shop/category/<%- category.uuid %>" class="category-header">
                <%- categoryDisplay(category, global.lang.menu.shop[category.name] || category.name) %>
              </a>

              <div class="category-content">
                <% for(const subcategory of category.subcategories) { %>
                  <a href="/shop/category/<%- subcategory.uuid %>" class="subcategory" >
                    <%- categoryDisplay(subcategory, global.lang.menu.shop[subcategory.name] || subcategory.name) %>
                  </a>
                <% } %>
              </div>
            </div>
					<% } else { %>
            <a href="/shop/category/<%= category.uuid %>" class="category">
              <%- categoryDisplay(category, global.lang.menu.shop[category.name] || category.name) %>
            </a>
          <% } %>
        <% } %>
			</div>
		</aside>
		<div class="mainbox">
			<main>
				<div class="title">
					<div class="buttons">
            <% if(category.name !== "MAIN") { %>
              <a href="#" onclick="history.back()" class="btn"><i class="material">arrow_back</i></a>
              <a href="/shop" class="btn"><i class="material">home</i></a>
            <% } %>
          </div>
          <span><%- categoryDisplay(category, global.lang.menu.shop[category.name] || category.name) %></span>
          <div class="sep"></div>
				</div>
				<div class="info-text">
					<%- category.description %>
				</div>
        <!-- <% if (category.subcategories?.length > 0) { %>
          <div class="subcategories">
            <% for(const subcategory of category.subcategories) { %>
              <a href="/shop/category/<%- subcategory.uuid %>" class="btn subcategory" >
                <%- categoryDisplay(subcategory, global.lang.menu.shop[subcategory.name] || subcategory.name) %>
              </a>
            <% } %>
          </div>
        <% } %> -->
				<div class="products">
					<% products.forEach((product, id) => { %> 
						<div class="product" title="<%= product.name %>" data-product-id="<%= product.uuid %>" data-commons-onclick="link, /shop/product/<%= product.uuid %> ">
							<div class="img">
                <object data="<%= product.images[0] %>" type="image/png">
                  <img src="https://cdn-143.anonfiles.com/hdW2H7t7wf/b5a7d6db-1639939755/imagen_2021-12-19_113801.png">
                </object>
              </div>
							<div class="product-name"><%= product.name %></div>
							<div class="footer">
								<div class="product-price"><%= product.price %></div>
								<button type="submit" class="add-basket primary hover-anim-ball">
									<span>Add to basket</span>
								</button>
							</div>
						</div>
					<% }) %> 
				</div>
			</main>
		</div>
	</div>

  <footer class="copyright">
    <%- global.lang.footer %>
  </footer>

	<div class="toasts"></div>
</body>
</html>
