<!DOCTYPE html>
<html lang="es">
<head>
	<%- include("../../partials/header.ejs") %> 
	<title> Tienda - Nasgar Network </title>

	<%- include("../../partials/less.ejs", { paths: ["pags/shop/index"] }) %> 

	<script src="/js/pg/shop/index.js" type="module"></script>
</head>
<body>
	<%- include("../../partials/nav_modern.ejs", { global, solid: true, transparent_height: 3 }) %>
	 
	<div class="body centered">
		<aside>
			<div class="categories">
				<% for(const category of global.categories) { %>
					<% if (category.subcategories?.length > 0) { %>
						<div class="category">Hola</div>
					<% } %>
				<a href="/shop/category/<%= category.uuid %>" class="category"><%= global.lang.menu.shop[category.name] || category.name %></a>
				<% } %>
			</div>
		</aside>
		<div class="mainbox">
			<main>
				<div class="title">
					<%- category.display.replace(/\{\{NAME\}\}/g, category.name) %>
				</div>
				<div class="info-text">
					<%- category.description %>
				</div>
				<div class="products">
					<% products.forEach((product, id) => { %> 
						<div class="product" title="<%= product.name %>" data-product-id="<%= product.uuid %>" data-commons-onclick="link, /shop/product/uuid/<%= product.uuid %> ">
							<div class="dots" title="More"><i class="material">more_horiz</i></div>
							<div class="img"><img src="/img/<%= (product.img ?? "defaultKey.png") %> "></div>
							<div class="product-name"><%= product.name %></div>
							<div class="footer">
								<div class="product-price"><%= product.price %></div>
								<button type="submit" class="add-basket primary hover-anim-ball">
									<span>Add to basket</span>
								</button>
							</div>
						</div>
					<% }) %> 
				</div>
			</main>
		</div>
	</div>

	<div class="toasts"></div>
</body>
</html>