<% 

function categoryDisplay(category, name) {
  name = name || category.name;
  return category.display.replace(/\{\{NAME\}\}/g, name);
}

function iAmChild(category_, parent = category) {
  return category_.subcategories.some((sub) => itsMe(sub, parent));
}

function itsMe(category_, me = category) {
  return category_.uuid === me.uuid;
}

function isMyChild(category_, parent = category) {
  return parent.subcategories.some(sub => sub.uuid === category_.uuid); 
}

function isActive(category_, className = ' active', parent = category) {
  return itsMe(category_, parent) || iAmChild(category_, parent) ? className : '';
}

function hasSubcategories(category = category) {
  return category.subcategories?.length > 0;
}

%>

<%- include("../../partials/head.ejs", {global, title: global.lang.menu.shop.title, url: "/shop/index"}) %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
<script>
  window.description = "<%- category.description %>"
</script>

</head>

<body>
  <%- include("../../partials/nav_modern.ejs", { global, tab: "shop", solid: true, transparent_height: 3 }) %>

  <div class="body centered">
    <aside>
      <div class="cart">
        <a href="/shop/cart" class="btn primary cart-btn">
          <i class="material">shopping_cart</i>
        </a>
      </div>
      <div class="categories">
        <a href="/shop" class="category  <%- category.name === 'MAIN' ? 'active active-from-ssr' : '' %>">Inicio</a>

        <% for(const category_ of categories) { %>
        <% if (hasSubcategories(category_)) { %>
        <div class="category<%- isActive(category_, ' active active-from-ssr') %>">
          <div class="category-header">
            <%- categoryDisplay(category_, global.lang.menu.shop[category_.name] || category_.name) %>
          </div>

          <div class="category-content">
            <% for(const subcategory of category_.subcategories) { %>
            <% if(hasSubcategories(subcategory)) {%>
            <div class="category">
              <div class="category-header">
                <%- categoryDisplay(subcategory, global.lang.menu.shop[subcategory.name] || subcategory.name) %>
              </div>

              <div class="category-content">
                <% for(const subcategory_ of subcategory.subcategories) { %>
                <% if(!itsMe(subcategory_)) { %>
                <a href="/shop/category/<%- subcategory_.uuid %>" class="subcategory<%- isActive(subcategory_) %>">
                  <%- categoryDisplay(subcategory_, global.lang.menu.shop[subcategory_.name] || subcategory_.name) %>
                </a>
                <% } else { %>
                <div class="subcategory<%- isActive(subcategory_) %>">
                  <%- categoryDisplay(subcategory_, global.lang.menu.shop[subcategory_.name] || subcategory_.name) %>
                </div>
                <% } %>
                <% } %>
              </div>
            </div>
            <% } else { %>
            <% if(!itsMe(subcategory)) { %>
            <a href="/shop/category/<%- subcategory.uuid %>" class="subcategory<%- isActive(subcategory) %>">
              <%- categoryDisplay(subcategory, global.lang.menu.shop[subcategory.name] || subcategory.name) %>
            </a>
            <% } else { %>
            <div class="subcategory<%- isActive(subcategory) %>">
              <%- categoryDisplay(subcategory, global.lang.menu.shop[subcategory.name] || subcategory.name) %>
            </div>
            <% } %>
            <%}%>
            <% } %>
          </div>
        </div>
        <% } else { %>
        <a href="/shop/category/<%= category_.uuid %>" class="category <%- isActive(category_, 'active active-from-ssr') %>">
          <%- categoryDisplay(category_, global.lang.menu.shop[category_.name] || category_.name) %>
        </a>
        <% } %>
        <% } %>
      </div>
    </aside>
    <div class="mainbox">
      <main>
        <div class="title">
          <div class="buttons">
            <% if(category.name !== "MAIN") { %>
            <a href="#" onclick="window.history.back()" class="btn"><i class="material">arrow_back</i></a>
            <a href="/shop" class="btn"><i class="material">home</i></a>
            <% } %>
          </div>
          <span><%- categoryDisplay(category, global.lang.menu.shop[category.name] || category.name) %></span>
          <div class="sep"></div>
        </div>
        <div class="info-text" id="category-description">
          Rendering category description...
        </div>
        <div class="products">
          <% products.forEach((product, id) => { %>
          <div class="product" title="<%= product.name %>" data-product-id="<%= product.uuid %>" data-commons-onclick="link, /shop/product/<%= product.uuid %>">
            <div class="img">
              <img src="<%= product.images[0] %>" alt="<%= product.name %> Image">
            </div>
            <div class="product-name"><%= product.name %></div>
            <div class="footer">
              <div class="product-price"><%= product.price %></div>
              <button class="add-basket primary" data-product-id="<%= product.uuid %>">
                <span>Add to basket</span>
              </button>
            </div>
          </div>
          <% }) %>
        </div>
      </main>
    </div>
  </div>

  <footer class="copyright">
    <%- global.lang.footer %>
  </footer>

  <div class="toasts"></div>
</body>

</html>
