<!DOCTYPE html>
<html lang="es">
<head>
	<%- include("../../partials/header.ejs") %> 
	<title> Tienda - Nasgar Network </title>

	<%- include("../../partials/less.ejs", { paths: ["pags/shop/index"] }) %> 

	<script src="/js/pg/shop/index.js" type="module"></script>
</head>
<body>
	<%- include("../../partials/nav.ejs", { userData, alert }) %>
	<div class="header-separator"></div>
	 
	<div class="centered">
		<div class="mainbox">
			<main>
				<div class="info-text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit repellendus consequatur nam dignissimos quam modi. Quisquam ducimus adipisci sunt odio voluptatem ea officia a. Ut quidem delectus earum ratione ipsam?
				</div>
				<div class="products">
					<% products.forEach((product, id) => { %> 
						<div class="product" title="<%= product.name %>" data-product-id="<%= product.uuid %>" data-commons-onclick="link, /shop/product/uuid/<%= product.uuid %> ">
							<div class="dots" title="More"><i class="material">more_horiz</i></div>
							<div class="img"><img src="/img/<%= (product.img ?? "defaultKey.png") %> "></div>
							<div class="product-name"><%= product.name %></div>
							<div class="footer">
								<div class="product-price"><%= product.price %></div>
								<button type="submit" class="add-basket primary hover-anim-ball">
									<span>Add to basket</span>
								</button>
							</div>
						</div>
					<% }) %> 
				</div>
			</main>
			<aside>
				<section class="card primary">
					<div class="card-header">Compras Recientes</div>
					<div class="card-body">
						<div class="purchase">
							
						</div>
					</div>
				</section>
				<section class="card primary">
					<div class="card-header">Top Compras</div>
					<div class="card-body">Lorem ipsum dolor 2</div>
				</section>
				<section class="card primary">
					<div class="card-header">Top Donadores</div>
					<div class="card-body">Lorem ipsum dolor 3</div>
				</section>
			</aside>
		</div>
	</div>

	<div class="toasts"></div>
</body>
</html>