<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("./partials/header.ejs") %> 
	<title> Admin Panel </title>

	<%- include("../../partials/less.ejs") %> 
</head>
<body>
	<%- include("./partials/nav.ejs", { title: "Admin panel" }) %> 
	<h1 class="center text-light">Welcome to Admin panel</h1>

	<div class="recents">
		<div class="recent reports">
			<div class="header">
				Recent reports:
			</div>
			<div class="body">
				<span></span>
				<ul>
					<% for(let report of (locals?.reports ?? [])) { %>
						<li>
							<div class="username">
								<span> <%= report.username %> </span>
								<div class="data">
									<div class="from">
										<%= report.reporter %> 
									</div>
									<div class="time">
										<%= report.timestamp %> 
									</div>
								</div>
							</div>
							<div class="msg"> <%= report.message %> </div>
						</li>
					<% } %>  
				</ul>
			</div>
		</div>

		<div class="recent bans">
			<div class="header">
				Recent bans:
			</div>
			<div class="body">
				<span></span>
				<ul>

				</ul>
			</div>
		</div>
	</div>

	<script src="/js/pg/admin/index.js" type="module" defer></script>
	<%- include("./partials/footer.ejs") %> 
</body>
</html>