<% const _url = typeof url === "string" ? url : "/index" %>
<% const title_inner = (
  typeof title === "string" 
    ? title + " - Nasgar Network" 
    : typeof title === "boolean" 
      ? title 
        ? "Nasgar Network" 
        : null 
      :  _url + " - Nasgar Network"
  ) %>
<% const less_paths = typeof styles === "object" ? styles : [ "pags" + _url ]; %> 
<% const js_paths   = typeof scripts === "object" ? scripts : [ "pg" + _url ]; %> 

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./header.ejs") %> 

  <% if(title_inner !== null) { %>
    <title><%= title_inner %></title>
  <% } %>

  <meta rel="canonical" href="<%- global.const.WEB_HREF %><%- _url %>">

  <% if(global.PRODDUCTION) { %>
    <%- include("./css.ejs", { paths: less_paths }) %> 
  <% } else { %>
    <%- include("./less.ejs", { paths: less_paths }) %> 
  <% } %>
  <%- include("./script.ejs", { paths: js_paths }) %> 
