<% 
const tab_         = typeof tab === 'string' ? tab : "home";
const _transparent = typeof transparent === "boolean" ? transparent : false;  
const _solid       = typeof solid === "boolean" ? solid : false || true;  
const _style       = typeof style === "string" ? style : "";  
const _nav_class   = (
    (_transparent  ? "" : "always") + 
    (!_transparent && _solid ? " solid" : "") + 
    (!_transparent ? " " : "") + _style 
); 
const _height       = typeof transparent_height === "number" ? transparent_height : 17; 
const _height_style = _height === -1 ? "0px" : `calc(50px + ${_height}rem)`;

const tabs = [ "home", "updates", "shop", "bans", "vote", "profile" ]; 
const _tab = tabs.indexOf(tab_.toLowerCase()) === -1 ? "home" : tab_.toLowerCase();
function _tab_class(tab) { return _tab === tab ? "selected" : ""; }
%>

<nav class="<%= _nav_class %>">
  <div class="desktop">
    <a href="/" class="logo">
      <img src="/img/logo-128x.png" alt="Nasgar Network" />
    </a>
    <div class="tabs">
      <a href="/" class="tab <%- _tab_class("home") %>"><%= global.lang.menu.home %></a>
      <a href="/updates" class="tab <%- _tab_class("updates") %>"><%= global.lang.menu.updates %></a>
      <a href="/shop" class="tab <%- _tab_class("shop") %>"><%= global.lang.menu.shop.title %></a>
      <a href="/bans" class="tab <%- _tab_class("bans") %>"><%= global.lang.menu.bans %></a>
      <a href="/vote" target="_blank" class="tab <%- _tab_class("vote") %>"><%= global.lang.menu.vote %></a>
      <% if (global.user !== null) { %>

        <div class="tab <%- _tab_class("profile") %> login">
          <div class="title">
            <i class="material">account_circle</i> 
            <%= global.user.name %>
          </div>
          <div class="options">
            <a href="/profile" class="option">
              <i class="material">person</i> 
              <span>Profile</span>
            </a>

            <% if (global.user.rank >= global.const.LEVEL.Staff) { %>

              <a href="/staff" class="option">
                <i class="material">admin_panel_settings</i> 
                <span>Staff</span>
              </a>
            <% } %>  

            <a href="/settings" class="option">
              <i class="material">settings</i> 
              <span>Settings</span>
            </a>
            <a href="/logout" class="option">
              <i class="material">logout</i> 
              <span>Log Out</span>
            </a>
          </div>
        </div>

      <% } else { %>

        <a href="/login" class="tab login">
          <%= global.lang.menu.login %>
        </a>

      <% } %>
    </div>
  </div>

  <div class="mobile">
    <div class="header">
      <a href="/" class="logo">
        <img src="/img/logo-128x.png" alt="Nasgar Network" />
      </a>
      <button class="menu">
        <i class="material">menu</i>
      </button>
    </div>
    <div class="tabs">
      <a href="/" class="tab selected"><%= global.lang.menu.home %></a>
      <a href="/updates" class="tab"><%= global.lang.menu.updates %></a>
      <a href="/shop" class="tab"><%= global.lang.menu.shop.title %></a>
      <a href="/bans" class="tab"><%= global.lang.menu.bans %></a>
      <a href="/vote" class="tab"><%= global.lang.menu.vote %></a>
      <% if (global.user !== null) { %>

        <div class="tab login">
          <div class="title">
            <i class="material">account_circle</i> 
            <%= global.user.name %>
          </div>
          <div class="options">
            <a href="/profile" class="option">
              <i class="material">person</i> 
              <span>Profile</span>
            </a>

            <% if (global.user.rank >= global.const.LEVEL.Staff) { %>

              <a href="/staff" class="option">
                <i class="material">
                  admin_panel_settings</i> 
                <span>Staff</span>
              </a>
            <% } %>  

            <a href="/settings" class="option">
              <i class="material">settings</i> 
              <span>Settings</span>
            </a>
            <a href="/logout" class="option">
              <i class="material">logout</i> 
              <span>Log Out</span>
            </a>
          </div>
        </div>

      <% } else { %>

        <a href="/login" class="tab login">
          <%= global.lang.menu.login %>
        </a>

      <% } %>
    </div>
  </div>
</nav>


<div 
  class="nav_transparent_height" 
  style="height: <%= _height_style %>;"></div>
