<!DOCTYPE html>
<html lang="<%= global.langISO %>">
  <head>
    <%- include("../partials/header.ejs") -%>

    <title>Nasgar Network</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <%- include("../partials/less.ejs", { paths: ["pags/index"] }) %>
  </head>
  <body>
    <nav>
      <div class="desktop">
        <a href="/" class="logo">
          <img src="/img/logo-128x.png" alt="Nasgar Network" />
        </a>
        <div class="tabs">
          <a href="/" class="tab selected"><%= global.lang.menu.home %></a>
          <a href="/updates" class="tab"><%= global.lang.menu.updates %></a>
          <div class="tab">
            <div class="title"><%= global.lang.menu.shop.title %></div>
            <div class="options">
              <a href="/shop" class="option"><%= global.lang.menu.shop.ranks %></a>
              <a href="/shop" class="option"><%= global.lang.menu.shop.keys %></a>
            </div>
          </div>
          <a href="#team" class="tab">Sanciones</a>
          <a href="/vote" target="_blank" class="tab">Votar</a>
          <a href="/login" class="tab login">Login</a>
        </div>
      </div>

      <div class="mobile">
        <div class="header">
          <a href="/" class="logo">
            <img src="/img/logo-128x.png" alt="Nasgar Network" />
          </a>
          <button class="menu">
            <i class="material">menu</i>
          </button>
        </div>
        <div class="tabs">
          <a href="/" class="tab selected"><%= global.lang.menu.home %></a>
          <a href="/updates" class="tab"><%= global.lang.menu.updates %></a>
          <div class="tab">
            <div class="title"><%= global.lang.menu.shop.title %></div>
            <div class="options">
              <a href="/shop" class="option"><%= global.lang.menu.shop.ranks %></a>
              <a href="/shop" class="option"><%= global.lang.menu.shop.keys %></a>
            </div>
          </div>
          <a href="/bans" class="tab"><%= global.lang.menu.bans %></a>
          <a href="/vote" class="tab"><%= global.lang.menu.vote %></a>
          <a href="/login" class="tab login"><%= global.lang.menu.login %></a>
        </div>
      </div>
    </nav>

    <div class="landing-header">
      <div class="tabs">
        <div class="left">
          <a href="/" class="tab"><%= global.lang.menu.home %></a>
          <a href="/bans" class="tab"><%= global.lang.menu.bans %></a>
        </div>
        <div class="logo">
          <img src="/img/logo-128x.png" alt="Nasgar Network">
        </div>
        <div class="right">
          <div class="tab">
            <div class="title"><%= global.lang.menu.shop.title %></div>
            <div class="options">
              <a href="/shop" class="option"><%= global.lang.menu.shop.ranks %></a>
              <a href="/shop" class="option"><%= global.lang.menu.shop.keys %></a>
            </div>
          </div>
          <a href="/updates" class="tab"><%= global.lang.menu.updates %></a>
        </div>
      </div>
    </div>

    <div class="landing">
      <div class="ip" onclick="copyToClipboard('nasgar.online')">
        nasgar.online
      </div>
      <div class="desc">
        <span><%- global.lang.landing.description %></span>
        <span>1.7 - 1.17.x</span>
      </div>
      <div class="discord">
        <img
          src="/img/discord-logo.svg"
          alt="Discord Icon"
          onclick="open('https://ds.nasgar.online', '_blank')"
        />
      </div>
    </div>

    <!--———————— Bottom ————————-->

    <div class="container-full">
      <div class="body">
        <div id="about" class="solid d-block">
          <div class="title"><%- global.lang.landing.about.title %></div>
          <div><%- global.lang.landing.about.content %></div>
        </div>
        <div>
          <a href="/discord" target="_blank" class="stat">
            <div class="icon">
              <img src="/img/discord-logo.svg" alt="Discord Icon" />
            </div>
            <div class="name">Discord</div>
          </a>
          <a
            href="https://twitter.com/NasgarNetwork"
            target="_blank"
            class="stat"
          >
            <div class="icon">
              <img
                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgNC41NTdjLS44ODMuMzkyLTEuODMyLjY1Ni0yLjgyOC43NzUgMS4wMTctLjYwOSAxLjc5OC0xLjU3NCAyLjE2NS0yLjcyNC0uOTUxLjU2NC0yLjAwNS45NzQtMy4xMjcgMS4xOTUtLjg5Ny0uOTU3LTIuMTc4LTEuNTU1LTMuNTk0LTEuNTU1LTMuMTc5IDAtNS41MTUgMi45NjYtNC43OTcgNi4wNDUtNC4wOTEtLjIwNS03LjcxOS0yLjE2NS0xMC4xNDgtNS4xNDQtMS4yOSAyLjIxMy0uNjY5IDUuMTA4IDEuNTIzIDYuNTc0LS44MDYtLjAyNi0xLjU2Ni0uMjQ3LTIuMjI5LS42MTYtLjA1NCAyLjI4MSAxLjU4MSA0LjQxNSAzLjk0OSA0Ljg5LS42OTMuMTg4LTEuNDUyLjIzMi0yLjIyNC4wODQuNjI2IDEuOTU2IDIuNDQ0IDMuMzc5IDQuNiAzLjQxOS0yLjA3IDEuNjIzLTQuNjc4IDIuMzQ4LTcuMjkgMi4wNCAyLjE3OSAxLjM5NyA0Ljc2OCAyLjIxMiA3LjU0OCAyLjIxMiA5LjE0MiAwIDE0LjMwNy03LjcyMSAxMy45OTUtMTQuNjQ2Ljk2Mi0uNjk1IDEuNzk3LTEuNTYyIDIuNDU3LTIuNTQ5eiIvPjwvc3ZnPg=="
                alt="Twitter icon"
              />
            </div>
            <div class="name">Twitter</div>
          </a>
          <a href="/vote" target="_blank" class="stat">
            <div class="icon">
              <img
                src="https://www.40servidoresmc.es/img/favicon.png"
                alt="40servidoresmc icon"
              />
            </div>
            <div class="name">40servidoresmc</div>
          </a>
        </div>
      </div>
    </div>

    <script>
      (() => {
        const tabs = [...document.querySelectorAll("div.tab")];

        tabs.forEach(tab => {
          tab.addEventListener("click", () => {
            tab.classList.toggle("active");
          });
        })

        const menubtn = document.querySelector("button.menu");
        const mobile = document.querySelector(".mobile");

        menubtn.addEventListener("click", () => {
          mobile.classList.toggle("active");
        });

        const nav = document.querySelector("nav");

        document.addEventListener("scroll", () => {
          let top = window.pageYOffset || document.documentElement.scrollTop;
          if (top > 150) {
            nav.classList.add("scrolled");
          } else {
            nav.classList.remove("scrolled");
          }
        });
      })();
    </script>
  </body>
</html>
