<!DOCTYPE html>
<html lang="<%= global.langISO %>">
  <head>
    <%- include("../partials/header.ejs") -%>

    <title>Nasgar Network</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <%- include("../partials/less.ejs", { paths: ["pags/index"] }) %>
  </head>
  <body>
    <nav>
      <div class="desktop">
        <a href="/" class="logo">
          <img src="/img/logo-128x.png" alt="Nasgar Network" />
        </a>
        <div class="tabs">
          <a href="/" class="tab selected"><%= global.lang.menu.home %></a>
          <a href="/updates" class="tab"><%= global.lang.menu.updates %></a>
          <div class="tab">
            <div class="title"><%= global.lang.menu.shop.title %></div>
            <div class="options">
              <a href="/shop" class="option"><%= global.lang.menu.shop.ranks %></a>
              <a href="/shop" class="option"><%= global.lang.menu.shop.keys %></a>
            </div>
          </div>
          <a href="#team" class="tab">Sanciones</a>
          <a href="/vote" target="_blank" class="tab">Votar</a>
          <a href="/login" class="tab login">Login</a>
        </div>
      </div>

      <div class="mobile">
        <div class="header">
          <a href="/" class="logo">
            <img src="/img/logo-128x.png" alt="Nasgar Network" />
          </a>
          <button class="menu">
            <i class="material">menu</i>
          </button>
        </div>
        <div class="tabs">
          <a href="/" class="tab selected"><%= global.lang.menu.home %></a>
          <a href="/updates" class="tab"><%= global.lang.menu.updates %></a>
          <div class="tab">
            <div class="title"><%= global.lang.menu.shop.title %></div>
            <div class="options">
              <a href="/shop" class="option"><%= global.lang.menu.shop.ranks %></a>
              <a href="/shop" class="option"><%= global.lang.menu.shop.keys %></a>
            </div>
          </div>
          <a href="/bans" class="tab"><%= global.lang.menu.bans %></a>
          <a href="/vote" class="tab"><%= global.lang.menu.vote %></a>
          <a href="/login" class="tab login"><%= global.lang.menu.login %></a>
        </div>
      </div>
    </nav>

    <div class="landing-header">
      <div class="tabs">
        <div class="left">
          <a href="#" class="tab"><%= global.lang.menu.home %></a>
          <a href="#" class="tab"><%= global.lang.menu.bans %></a>
        </div>
        <div class="logo">
          <img src="/img/logo-128x.png" alt="Nasgar Network">
        </div>
        <div class="right">
          <div class="tab">
            <div class="title"><%= global.lang.menu.shop.title %></div>
            <div class="options">
              <a href="/shop" class="option"><%= global.lang.menu.shop.ranks %></a>
              <a href="/shop" class="option"><%= global.lang.menu.shop.keys %></a>
            </div>
          </div>
          <a href="#" class="tab"><%= global.lang.menu.updates %></a>
        </div>
      </div>
    </div>

    <div class="landing">
      <div class="ip" onclick="copyToClipboard('nasgar.online')">
        nasgar.online
      </div>
      <div class="desc">
        <span><%- global.lang.landing.description %></span>
        <span>1.7 - 1.17.x</span>
      </div>
      <div class="discord">
        <img
          src="/img/discord-logo.svg"
          alt="Discord Icon"
          onclick="open('https://ds.nasgar.online', '_blank')"
        />
      </div>
    </div>

    <!--———————— Bottom ————————-->

    <div class="container-full">
      <div class="body">
        <div id="about" class="solid d-block">
          <div class="title"><%- global.lang.landing.about.title %></div>
          <div><%- global.lang.landing.about.content %></div>
        </div>
        <div>
          <a href="/discord" target="_blank" class="stat">
            <div class="icon">
              <img src="/img/discord-logo.svg" alt="Discord Icon" />
            </div>
            <div class="name">Discord</div>
          </a>
          <a
            href="https://twitter.com/NasgarNetwork"
            target="_blank"
            class="stat"
          >
            <div class="icon">
              <img
                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgNC41NTdjLS44ODMuMzkyLTEuODMyLjY1Ni0yLjgyOC43NzUgMS4wMTctLjYwOSAxLjc5OC0xLjU3NCAyLjE2NS0yLjcyNC0uOTUxLjU2NC0yLjAwNS45NzQtMy4xMjcgMS4xOTUtLjg5Ny0uOTU3LTIuMTc4LTEuNTU1LTMuNTk0LTEuNTU1LTMuMTc5IDAtNS41MTUgMi45NjYtNC43OTcgNi4wNDUtNC4wOTEtLjIwNS03LjcxOS0yLjE2NS0xMC4xNDgtNS4xNDQtMS4yOSAyLjIxMy0uNjY5IDUuMTA4IDEuNTIzIDYuNTc0LS44MDYtLjAyNi0xLjU2Ni0uMjQ3LTIuMjI5LS42MTYtLjA1NCAyLjI4MSAxLjU4MSA0LjQxNSAzLjk0OSA0Ljg5LS42OTMuMTg4LTEuNDUyLjIzMi0yLjIyNC4wODQuNjI2IDEuOTU2IDIuNDQ0IDMuMzc5IDQuNiAzLjQxOS0yLjA3IDEuNjIzLTQuNjc4IDIuMzQ4LTcuMjkgMi4wNCAyLjE3OSAxLjM5NyA0Ljc2OCAyLjIxMiA3LjU0OCAyLjIxMiA5LjE0MiAwIDE0LjMwNy03LjcyMSAxMy45OTUtMTQuNjQ2Ljk2Mi0uNjk1IDEuNzk3LTEuNTYyIDIuNDU3LTIuNTQ5eiIvPjwvc3ZnPg=="
                alt="Twitter icon"
              />
            </div>
            <div class="name">Twitter</div>
          </a>
          <a href="/vote" target="_blank" class="stat">
            <div class="icon">
              <img
                src="https://www.40servidoresmc.es/img/favicon.png"
                alt="40servidoresmc icon"
              />
            </div>
            <div class="name">40servidoresmc</div>
          </a>
        </div>
        <div id="team" class="solid d-block">
          <div class="title"><%- global.lang.landing.team %></div>
          <div class="d-grid">

            <div class="card primary user">
              <div class="card-header">
                Aitor
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/454002606084194305/256" alt="Aitoor's Avatar">
                </div>
                <div class="rank owner"></div>
              </div>
            </div>

            <div class="card primary user">
              <div class="card-header">
                Coldstrom25
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/715294936412586004/256" alt="Coldstrom25's Avatar">
                </div>
                <div class="rank admin"></div>
              </div>
            </div>
            
            <div class="card primary user">
              <div class="card-header">
                Edu47
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/697509860803084318/256" alt="Edu47's Avatar">
                </div>
                <div class="rank admin"></div>
              </div>
            </div>

            <div class="card primary user">
              <div class="card-header">
                francaba
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/711990828054347826/256" alt="francaba's Avatar">
                </div>
                <div class="rank support"></div>
              </div>
            </div>

            <div class="card primary user">
              <div class="card-header">
                LuigiSTYLE
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/333770113662713858/256" alt="LuigiSTYLE's Avatar">
                </div>
                <div class="rank support"></div>
              </div>
            </div>

            <div class="card primary user">
              <div class="card-header">
                Matias67Y
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/480850778567868437/256" alt="Matias67Y's Avatar">
                </div>
                <div class="rank builder"></div>
              </div>
            </div>

            <div class="card primary user">
              <div class="card-header">
                Javier45
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/759139548516843542/256" alt="Javier45's Avatar">
                </div>
                <div class="rank builder"></div>
              </div>
            </div>

            <div class="card primary user">
              <div class="card-header">
                NECRO
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/307255164262154240/256" alt="NECRO's Avatar">
                </div>
                <div class="rank builder"></div>
              </div>
            </div>

            <div class="card primary user">
              <div class="card-header">
                DARKMAUDER
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/275462426579959809/256" alt="DARKMAUDER's Avatar">
                </div>
                <div class="rank builder"></div>
              </div>
            </div>

            <div class="card primary user">
              <div class="card-header">
                Simxn_
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/344090806035939339/256" alt="Simxn_'s Avatar">
                </div>
                <div class="rank builder"></div>
              </div>
            </div>
            

            <div class="card primary user">
              <div class="card-header">
                Fckml
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/714948434385174539/256" alt="Fckml's Avatar">
                </div>
                <div class="rank dev-head"></div>
              </div>
            </div>

            <div class="card primary user">
              <div class="card-header">
                Enough
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/754184329478799502/256" alt="Enough's Avatar">
                </div>
                <div class="rank dev-java"></div>
              </div>
            </div>

            <div class="card primary user">
              <div class="card-header">
                santih
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/506908180702560267/256" alt="santih's Avatar">
                </div>
                <div class="rank dev-java"></div>
              </div>
            </div>

            <div class="card primary user">
              <div class="card-header">
                uwu.akext
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/498262310109052929/256" alt="uwu.akext's Avatar">
                </div>
                <div class="rank dev-java"></div>
              </div>
            </div>

            <div class="card primary user">
              <div class="card-header">
                Micra
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/538398123962138634/256" alt="Micra's Avatar">
                </div>
                <div class="rank dev-java"></div>
              </div>
            </div>            

            <div class="card primary user">
              <div class="card-header">
                Bluekail
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://cdn.discordapp.com/embed/avatars/0.png" alt="Bluekail's Avatar">
                </div>
                <div class="rank dev-java"></div>
              </div>
            </div>

            <div class="card primary user">
              <div class="card-header">
                Apika Luca
              </div>
              <div class="card-body">
                <div class="avatar">
                  <img src="https://discord-utils-api.herokuapp.com/avatar/809848854106341429/256" alt="Apika Luca's Avatar">
                </div>
                <div class="rank dev-web"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      (() => {
        const shop = document.querySelector("div.tab");

        shop.addEventListener("click", () => {
          shop.classList.toggle("active");
        });

        const menubtn = document.querySelector("button.menu");
        const mobile = document.querySelector(".mobile");

        menubtn.addEventListener("click", () => {
          mobile.classList.toggle("active");
        });

        const nav = document.querySelector("nav");

        document.addEventListener("scroll", () => {
          let top = window.pageYOffset || document.documentElement.scrollTop;
          if (top > 150) {
            nav.classList.add("scrolled");
          } else {
            nav.classList.remove("scrolled");
          }
        });
      })();
    </script>
  </body>
</html>
